.introduction {
  padding-top: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.scenarioContent {
  margin-top: 20px;
  border-radius:10px;
  padding: 5px;
  width: 50%;
  transform: translateX(50%);
  background: #D0D0CF;
  color: #000;
  font-size: 15px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.survey {
  margin-top: 20px;
  width: 50%;
  transform: translateX(50%);
  font-size: 15px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.surveyQuestion {
  font-weight: bold;
}

.highLine {
  color: #f00;
  font-weight: bold;
}

.lock {
  color: #808080;
}

.mobile_introduction {
  padding-top: 20px;
}

.mobile_title {
  transform: translateX(2%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.mobile_scenarioContent_practice {
  margin-top: 20px;
  border-radius:10px;
  padding: 5px;
  width: 90%;
  transform: translateX(3%);
  background: #D0D0CF;
  color: #000;
  font-size: 15px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.mobile_survey_practice {
  margin-top: 20px;
  width: 90%;
  transform: translateX(3%);
  font-size: 15px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.mobile_surveyQuestion {
  font-weight: bold;
}

.mobile_highLine {
  color: #f00;
  font-weight: bold;
}

/* in 為 true 時: */
.scenarioEntered-enter {
  opacity: 0;
}
.scenarioEntered-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

/* in 為 false 時: */
.scenarioEntered-exit {
  opacity: 1;
}
.scenarioEntered-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

/* in 為 true 時: */
.mouseOver-enter {
  opacity: 1;
}
.mouseOver-enter-active {
  opacity: 0.7;
  transition: opacity 200ms;
}

/* in 為 false 時: */
.mouseOver-exit {
  opacity: 0.7;
}
.mouseOver-exit-active {
  opacity: 1;
  transition: opacity 200ms;
}

.prev {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: translateX(99%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 25%;
  padding: 5px;
  font-size: 20px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.next {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: translateX(101%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 25%;
  padding: 5px;
  font-size: 20px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.videolink {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: translateX(137%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 16.7%;
  padding: 5px;
  font-size: 20px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.introductionlink {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: translateX(153.7%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 16.7%;
  padding: 5px;
  font-size: 20px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.examplelink {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: translateX(170.4%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 16.7%;
  padding: 5px;
  font-size: 20px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.mobile_videolink {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: translateX(7%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 29.7%;
  padding: 5px;
  font-size: 13px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.mobile_introductionlink {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: translateX(17.7%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 29.7%;
  padding: 5px;
  font-size: 13px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.mobile_examplelink {
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: translateX(28.4%);
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 29.7%;
  padding: 5px;
  font-size: 13px;
  font-family: "LiGothic", "FangSong", Arial, serif;
}

.slider-width {
  width: 75%;
}
